<?xml version="1.0"?>
<config>
    <modules>
        <Cstm_Redirect>
            <version>1.0.0</version>
        </Cstm_Redirect>
    </modules>
    <global>
        <models>
            <cstm_redirect>
                <class>Cstm_Redirect_Model</class>
            </cstm_redirect>
        </models>
    </global>
    <frontend>
        <events>
            <customer_login>
                <observers>
                    <cstm_redirect>
                        <class>cstm_redirect/observer</class>
                        <method>customerLogin</method>
                    </cstm_redirect>
                </observers>
            </customer_login>
        </events>
    </frontend>
</config>