<?xml version="1.0"?>
    <config>
        <modules>
            <Cstm_Redirect>
                <version>0.1.0</version>
            </Cstm_Redirect>
        </modules>
        <frontend>
            <routers>
                <customer>
                    <use>standard</use>
                    <args>
                        <module>Cstm_Redirect</module>
                        <frontName>customer</frontName>
                    </args>
                </customer>
            </routers>
        </frontend>
    </config>